// SCSS for Manage Users Page
.manage-users-page {
  padding: 1rem;

  .admin-page-title {
    margin-bottom: 1.5rem;
    color: $primary-brown;
  }

  .table {
    th {
      background-color: $primary-green;
      color: $white;
    }
  }
}