.item-product-card {
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.item-product-image {

  transition: all 0.5s ease;
  height: 150px;
  object-fit: cover;
}

.item-product-card:hover .product-image {
  transform: scale(1.05);
}

.item-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bg-success {
  background-color: #28a745 !important;
}

.item-price {
  font-size: 1rem;
  font-weight: 600;
  color: #6F4E37;
}

.item-btn-custom {
  background: linear-gradient(45deg, #6F4E37, #4A7043);
  border: none;
  transition: all 0.3s ease;
}

.item-btn-custom:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(75, 48, 37, 0.4);
}

.item-product-title {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.item-product-description {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.9rem;
}